<div class="aside-content">
    <div class="aside-header">
        <!-- <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse" type="button"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span></button> -->
        <span class="title">Mail Service</span>
        <p class="description">My Private Inbox</p>
    </div>
    <!-- <div class="aside-compose"><button class="btn btn-primary btn-block disabled" data-toggle="tooltip" data-placement="bottom" title="Speak with admin to enable feature">Compose Email</button></div> -->
    <div class="aside-nav collapse">
        <ul class="nav">
        <li class="active"><a href="/admin/messages"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path></svg></span>Inbox
            <% if((mails.filter(oneMail => oneMail.read === false)).length > 0) { %>
                <span class="badge badge-danger-muted text-white font-weight-bold float-right"><%- (mails.filter(oneMail => oneMail.read === false)).length -%></span>
                <% } %>
            </a>
        </li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Speak with admin to enable feature"><span class="icon"><i class="far fa-envelope mr-3"></i></span>Unread</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Speak with admin to enable feature"><span class="icon"><i class="far fa-envelope-open mr-3"></i></span>Read</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Speak with admin to enable feature"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></span>Trash</a></li>
        </ul>
    </div>
</div>