<!-- Header -->
<header id="header">
  <h1><a href="/"><strong>YW | Diamond</strong></a></h1>
  <nav>
    <ul>
      <li><a href="#footer" class="icon solid">About<i class="fas fa-info-circle"></i></a></li>
    </ul>
  </nav>
</header>