<% if (!admin) { %>
  <%- include('../includes/head') -%>
<% } %>

<div class="container-fluid mt-5 pt-5">
  
  <!-- 404 Error Text -->
  <div class="text-center mt-5 pt-5">
    <div class="error mx-auto" data-text="400"  style="width: 14rem;">400</div>
    <p class="lead text-gray-800 mb-5">Bad Request</p>
    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
    <a href="<%- (admin) ? '/admin/portal' : '/' -%>">&larr; <%- (admin) ? 'Back to Dashboard' : 'Back to Website' -%></a>
  </div>
  
</div>

<% if (!admin) { %>
  <%- include('../includes/foot') -%>
<% } %>